/bin/

mm_test/.settings/.jsdtscope

mm_test/.classpath

mm_test/.classpath

mm_test/.project

mm_test/src/mm_test/TestMian.class

mm_test/.settings/org.eclipse.wst.validation.prefs

mm_test/.settings/org.eclipse.wst.jsdt.ui.superType.name

mm_test/.settings/org.eclipse.wst.jsdt.ui.superType.container

mm_test/.settings/org.eclipse.wst.common.project.facet.core.xml

mm_test/.settings/org.eclipse.wst.common.component

mm_test/.settings/org.eclipse.jdt.core.prefs
